{
    "extends": "airbnb",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-unused-vars": [
            "error", {
                "vars": "local",
                "args": "none"
            }
        ],
        "no-underscore-dangle": 0,
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }]
    }
}